<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
  <%-include('_navigation')%>
    
    <div class="container">
      <div class="content">
       <%products.forEach(product=>{%>
        <h1><%-product.productName%></h1>
        <h1><%-product.price%></h1>
        <hr>
       <%})%>
      </div>
    </div>
    
    <!-- <script src="/js/main.js"></script> -->
  </body>
</html>