<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
  <%-include('_navigation')%>
    
  <div class="container">
   <form action="/signup" method="post">
    <div class="form-group">
      <label for="userName"> Name</label>
      <input type="text" id="userName" name="userName" required>
    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="repasswd">re-enter password</label>
      <input type="password" id="repasswd" name="repasswd" required>
    </div>
    <button type="submit">Sign Up</button>
   </form>
  </div>
    
    <!-- <script src="/js/main.js"></script> -->
  </body>
</html>